@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

/**Menu**/

header {
    background-color: #46A2FD;

}
.logo__p img {
    width: 200px;
    height: 100%;
    padding: 0;
}

.container__menu{
    list-style: none;
    padding: 0;
    background: #46A2FD;
    width: 90%;
    max-width: 920rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 2 / 2 / 5;

}


.menu__p a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu__p li{
    display: inline-block;
    text-align: center;
    font-size: 1.7rem;
    
}

.menu__p a:hover{
    color: #396E94;

}

.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(0, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.top__header{
    display: grid;
    grid-area: 1 / 1 / 2 / 2;


}

.search {
    display: flex;
        
}

.search input {
    align-self: center;
    text-align: center;
    border-style: none;
    font-size: 1.3rem;
    border-radius: 2rem;
}

.img__login{
    grid-area: 1 / 4 / 2 / 5;
    width: 35px;
    height: 35px;
    align-self: center;
    
}

.login{
    color:white;
}
/*End Menu*/

/**Item section (cart)*/

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

.store-items{
    display: flex;
    justify-content: space-between;
    padding: 30px 15px 40px 15px;
}

.container-icon{
    position: relative;
}

/*Cart*/

.count-products{
    position: absolute;
    top: 30%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#sum-products{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    background-color: #f0eeee;
    padding-bottom: 25px;

}

.cart-product{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.8;
    
}

.title-product-cart{
    font-size: 20px;
}

.price-product-cart{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.product-cart-amount{
    font-weight: 400;
    font-size: 20px;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 0;
    
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
    padding-left: 20px;
}

.check-btn {
    background-color: #46A2FD;
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    display: grid;
    place-items: center;
    

}

.check-btn:hover {
    background-color: red;
  }

.hidden-cart{
    display: none;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}


/*Main*/

.container-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 50px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 70%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #46A2FD;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 15px;
}


  /*footer*/

footer{
    background: #46A2FD;
    padding-top: 5px;
    padding-bottom: 6px;
    color: white;
    text-decoration: none;
    
    
}

footer p{
    margin-left: 10px;
}

footer img{
    margin-left: 10px;
}

.social .footer-menu{
    display: flex;
    float: right;
   
}

.social .footer-menu li{
    display: block;
    padding-right: 10px;
}

.social_icon{
    width: 2%; 
}

.footer-menu a{
text-decoration:none;
color: white
}

.footer-menu a:hover{
    color: #396E94;
  }

@media (max-width: 750px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .logo__p img {
        width: 90%;
        height: 100%;
    }

    .menu__p a{
        text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    font-size: 15px;
    }

    .hero-img {
        object-fit: cover;
        width: 350px;
        height: 130px;
        display: block;
        margin: 0px auto;

    }

    .slider-frame{
        width: 98%;
        height: auto;
        margin-right: 3px;
        margin-left: 3px;
    }

    .social_icon{
        width: 7%; 
    }

    .social{
        padding-bottom: 35px;
    }

}

.cart-empty{
    padding: 20px;
    text-align: center;
}

/***********************************************/
/*Checkout -page */

.check-table-bk{
    background-color: white;
}
    
h1 {
    color: #333;
}

.table-products {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}
    
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
    
thead {
    background-color: #333;
    color: #fff;
}

/* Package Delivery Form */
.package-table {
    margin-top: 10px;
    margin-left: 0;
    border: none;
}



.package-cell {
    padding: 10px;
    border: none;
}

/* Establecer un ancho de 30px para los campos de tipo "text" */
input[type="text"] {
    width: 30rem;
    border-radius: 5px;
    text-align: left;
}

/* Estilos para el botón "Save Data" */
.save-button {
    margin-top: 10px;
    margin-left: 20rem;
    margin-bottom: 10px;
}

/* Estilos para el cuadro de texto */
textarea {
    margin-top: 10px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #333;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
